div {
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
    border-radius: 50%;
    background-image:  url('../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin: 1rem;
}